In [5]:
import pandas as pd
import numpy as np

# playing with dataframe

In [7]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4), index = ['Row1', 'Row2', 'Row3', 'Row4','Row5'], columns=['column1','column2','column3','column4'])

In [8]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [9]:
df.to_csv('Test1.csv')

In [11]:
# Accessing the elements 
type(df.loc['Row1'])

pandas.core.series.Series

In [14]:
type(df.iloc[0:3,0:1])

pandas.core.frame.DataFrame

In [15]:
# Take the elemenst from the column2
df.iloc[:,1:]

      column2  column3  column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [16]:
# convert Data frames into array 
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [17]:
df.iloc[:,1:].values.shape

(5, 3)

In [18]:
# check the null condition
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [20]:
df['column1'].value_counts()

column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [22]:
df['column1'].unique()

array([ 0,  4,  8, 12, 16])

In [7]:
df=pd.read_csv('ai_dev_productivity.csv')
print(df. head())

   hours_coding  coffee_intake_mg  distractions  sleep_hours  commits  \
0          5.99               600             1          5.8        2
1          4.72               568             2          6.9        5
2          6.30               560             1          8.9        2
3          8.05               600             7          6.3        9
4          4.53               421             6          6.9        4

   bugs_reported  ai_usage_hours  cognitive_load  task_success
0              1            0.71             5.4             1
1              3            1.75             4.7             1
2              0            2.27             2.2             1
3              5            1.40             5.9             0
4              0            1.26             6.3             1

In [8]:
df .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   hours_coding      500 non-null    float64
 1   coffee_intake_mg  500 non-null    int64
 2   distractions      500 non-null    int64
 3   sleep_hours       500 non-null    float64
 4   commits           500 non-null    int64
 5   bugs_reported     500 non-null    int64
 6   ai_usage_hours    500 non-null    float64
 7   cognitive_load    500 non-null    float64
 8   task_success      500 non-null    int64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [9]:
df.describe()

,hours_coding,coffee_intake_mg,distractions,sleep_hours,commits,bugs_reported,ai_usage_hours,cognitive_load,task_success
count,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000
mean,5.015600,463.192000,2.976000,6.975800,4.60800,0.858000,1.510920,4.498200,0.606000
std,1.947253,142.334991,1.678409,1.455965,2.70499,1.102846,1.085557,1.868861,0.489124
min,0.000000,6.000000,0.000000,3.000000,0.00000,0.000000,0.000000,1.000000,0.000000
25%,3.600000,369.500000,2.000000,6.100000,3.00000,0.000000,0.697500,3.175000,0.000000
50%,5.030000,500.500000,3.000000,6.950000,5.00000,0.000000,1.260000,4.400000,1.000000
75%,6.275000,600.000000,4.000000,7.900000,6.00000,2.000000,2.070000,5.800000,1.000000
max,12.000000,600.000000,8.000000,10.000000,13.00000,5.000000,6.360000,10.000000,1.000000

In [16]:
test_df=pd.read_csv('Test2.csv.txt', sep=';')
test_df.head()

  Unnamed: 0  column1  column2  column3  column4
0       Row1        0        1        2        3
1       Row2        4        5        6        7
2       Row3        8        9       10       11
3       Row4       12       13       14       15
4       Row5       16       17       18       19

In [17]:
df['bugs_reported'].value_counts()

bugs_reported
0    261
1    112
2     80
3     35
4      8
5      4
Name: count, dtype: int64

In [20]:
df[df['coffee_intake_mg']>100]

,hours_coding,coffee_intake_mg,distractions,sleep_hours,commits,bugs_reported,ai_usage_hours,cognitive_load,task_success
0,5.99,600,1,5.8,2,1,0.71,5.4,1
1,4.72,568,2,6.9,5,3,1.75,4.7,1
2,6.30,560,1,8.9,2,0,2.27,2.2,1
3,8.05,600,7,6.3,9,5,1.40,5.9,0
4,4.53,421,6,6.9,4,0,1.26,6.3,1
...,...,...,...,...,...,...,...,...,...
495,6.08,594,1,5.3,3,0,0.91,6.8,1
496,2.93,382,2,6.7,3,2,1.38,5.9,0
497,4.62,494,4,7.5,2,0,0.41,4.5,1
498,3.25,296,6,6.9,1,0,1.52,6.3,0
499,2.23,252,4,8.8,0,0,1.05,2.6,0

In [48]:
from io import StringIO, BytesIO

In [49]:
data = ('col1,col2,col3\n' 'x,y,1\n' 'a,b,2\n' 'c,d,3')

In [50]:
type(data)

str

In [51]:
#Read from specific columns
df2=pd.read_csv(StringIO(data), usecols=['col1','col3'])

In [52]:
df2

  col1  col3
0    x     1
1    a     2
2    c     3

In [53]:
df2.to_csv('test3.csv')

In [59]:
#specifying columns data types
data = ('a,b,c,d\n' '1,2,3,4\n' '5,6,7,8\n' '9,10,11,12\n')

In [60]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11,12

In [71]:
df3 = pd.read_csv(StringIO(data), dtype={'b':int, 'c':float,'a':'Int64'})
df3

   a   b     c   d
0  1   2   3.0   4
1  5   6   7.0   8
2  9  10  11.0  12

In [72]:
df3['a']

0    1
1    5
2    9
Name: a, dtype: Int64

In [73]:
df3.dtypes

a      Int64
b      int32
c    float64
d      int64
dtype: object

In [74]:
data  = ('index,a,b,c\n' '4,apple,bat,5.7\n' '8,orange,cow,10')

In [78]:
df4 = pd.read_csv(StringIO(data))
df4

   index       a    b     c
0      4   apple  bat   5.7
1      8  orange  cow  10.0

In [84]:
df4 = pd.read_csv(StringIO(data), index_col=0)
df4

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [88]:
df4['c'][4]

5.7

In [89]:
data = ('a,b,c\n' '4,apple,bat,\n' '8,orange,cow')

'a,b,c\n4,apple,bat,\n8,orange,cow'

In [90]:
# whenever datatype is not specified  even values specified for column is taken as index eX: 4 and 8 here

pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  orange  cow NaN

In [92]:
# To get proper index we use index_col as false
pd.read_csv(StringIO(data), index_col=False)

   a       b    c
0  4   apple  bat
1  8  orange  cow

In [94]:
#combining usecols and index_col
data = ('a,b,c\n' '4,apple,bat\n' '8,orange,cow')

In [97]:
pd.read_csv(StringIO(data), usecols=['b','c'],index_col=False)

        b    c
0   apple  bat
1  orange  cow

In [99]:
data = 'a,b\n\\hello, \\"Bob\\", nice to see you", 5'
data

'a,b\n\\hello, \\"Bob\\", nice to see you", 5'

In [100]:
pd.read_csv(StringIO(data))

                                a  b
\hello \"Bob\"   nice to see you"  5

In [101]:
pd.read_csv(StringIO(data), escapechar='\\')

                             a  b
hello "Bob"   nice to see you"  5